html {
    background-color:green;
}

.playerOneCard {
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 400px;
    border: solid;
    border-radius: 5px;
    height: 37px;
    width: 20px;
    background-color: white;
}

.playerTwoCard {
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:400px;
    border: solid;
    border-radius: 5px;
    height: 37px; 
    width: 20px;
    background-color: white;
}

.addPlayer{
    background-color:#c9c9c9;
}

.startGame{
    background-color: #c9c9c9;
}

.drawCard{
    background-color: #c9c9c9;
}

.resetGame{
    background-color: #c9c9c9;
}

.addPlayer:hover{
    background-color: #878787;
}

.startGame:hover{
    background-color: #878787;
}

.drawCard:hover{
    background-color: #878787;
}

.resetGame:hover{
    background-color: #878787;
}

.playerName:hover{
    background-color: #c9c9c9;
}

.playerOneDeck{
    border: solid;
    border-radius: 5px;
    width: 125px;
    padding-left: 10px;
    background-color: #c9c9c9;
}

.playerTwoDeck{
    border: solid;
    border-radius: 5px;
    width: 125px;
    padding-left: 10px;
    background-color: #c9c9c9;
}
  